body {
    //font-family: 'Roboto', sans-serif;
    //font-weight: 400;
    //font-style: normal;
    //color: var(--primary-colors-3b2406);
    font: 400 14px / 1.71429 var(--font-family);
    color: var(--primary-white);
    background: var(--primary-chernyy);
}

/* body * {
    border: 1px solid red;
} */

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    //padding: 0 calc(50vw - 576px);
    max-width: 1152px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 1399.99px) {}

@media (max-width: 1199.99px) {
    .container {
        //padding: 0 calc(50vw - 480px);
        max-width: 960px;
    }
}

@media (max-width: 991.99px) {
    .container {
        //padding: 0 calc(50vw - 370px);
        max-width: 740px;
    }
}

@media (max-width: 767.99px) {
    .container {
        //padding: 0 calc(50vw - 280px);
        max-width: 560px;
    }
}

@media (max-width: 574.99px) {
    .container {
        //padding: 0 calc(50vw - 190px);
        max-width: 380px;
    }
}

@media (max-width: 399.99px) {
    .container {
        //padding: 0 calc(50vw - 157px);
        max-width: 314px;
    }
}

/* @media (max-width: 1199.99px) {
}

@media (max-width: 991.99px) {
}

@media (max-width: 767.99px) {
}

@media (max-width: 574.99px) {
}

@media (max-width: 399.99px) {
} */