:root {
    --font-family: 'Open Sans', sans-serif;
    --second-family: 'Port Lligat Sans', sans-serif;
    --third-family: 'Noto Sans TC', sans-serif;
    --font3: 'Raleway', sans-serif;
    --font4: 'Roboto', sans-serif;
    --font5: 'Manrope', sans-serif;
    --font6: 'Montserrat', sans-serif;
    --font7: 'Inter', sans-serif;
    --font8: 'Pribambas', sans-serif;
    --font9: 'SignPainter', sans-serif;
    --font10: 'Source Code Pro', sans-serif;
    --font11: 'PT Serif', sans-serif;
    --font12: 'Acme', sans-serif;
    --font13: 'IBM Plex Sans', sans-serif;
    --font14: 'Arial', sans-serif;
    --font15: 'Abel', sans-serif;
    --font16: 'Mohave', sans-serif;
    --font17: 'Koulen', sans-serif;
    --font18: 'League Gothic', sans-serif;
}
