:root {
    --neutral-900: #111827;
    --neutral---800: #1f2937;
    --neutral---700: #374151;
    --neutral---600: #4b5563;
    --neutral---500: #6b7280;
    --neutral---400: #9ca3af;
    --neutral---300: #d1d5db;
    --neutral---200: #e5e7eb;
    --neutral---100: #f3f4f6;
    --neutral---50: #f9fafb;
    --primary-chernyy: #202426;
    --primary-seryy: #2c2f31;
    --primary-accent: #278eed;
    --primary-white: #fff;
    --secondary---attention: #ff6577;
    --secondary---success: #24ba96;
    --secondary---warning: #f0a900;
    --fioletovyy: #6535e5;
}
