:root {
    --neutral---400: #9ca3af;
    --primary-chernyy: #202426;
    --primary-seryy: #2c2f31;
    --primary-accent: #278eed;
    --primary-white: #fff;
    --primary-orange: #eda926;
    --primary-dark-blue: #111827;
    --secondary---attention: #ff6577;
    --secondary---success: #24ba96;
    --secondary---warning: #f0a900;
    --secondary---error: #fe586b;
    --fioletovyy: #6535e5;
    --tech-border: #e6e6e6;
    --pagination-bullet: #d1d5db;
}
